.location-form {
  label {
    display: block;
    font-size: 14px;
    margin-bottom: 2px;
  }

  input {
    width: 100%;
  }

  h3 {
    margin: 0 0 10px 0;
  }

  p-button {
    float: right;

    & + p-button {
      margin-right: 20px;
    }
  }

  &.ng-dirty,
  &.ng-touched {
    .ui-inputtext.ng-invalid:enabled,
    .ui-inputtext.ng-invalid,
    .ng-invalid .ui-dropdown {
      border: 1px solid #a80000;
    }
  }

}