.ui-table {
  .ui-paginator {
    .ui-paginator-page,
    .ui-paginator-last,
    .ui-paginator-first,
    .ui-paginator-current {
      display: none;
    }
  }
  
  .location-table {
    thead {
      tr {
        th {
          .ui-inputtext {
            width: 100%;
          }
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: #eee;
          cursor: pointer;
        }

        td {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
