.ui-table {
  .ui-paginator {
    .ui-paginator-page,
    .ui-paginator-last,
    .ui-paginator-first,
    .ui-paginator-current {
      display: none;
    }
  }
  
  .location-table {
    tr {
      th {
        .ui-inputtext {
          width: 100%;
        }
      }
    }
    tr {
      td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
